@{
    ViewData["Title"] = "Principal";
}

@if(ViewBag.NomeProfessor == null)
{
    <a asp-controller="Login">Login</a>
} else
{

@* cadastrar turma *@

    <button type="button" data-bs-toggle="modal" data-bs-target="#cadastrarTurma" class="btn btn-outline-primary mt-5 align-itens-end">Cadastrar Turma</button>


@* título *@

@* tabela *@
    <table class="table mt-5">
    <thead>
        <tr>
                <th scope="col">Número</th>
                <th scope="col">Turma</th>
                <th scope="col">Opções</th>
        </tr>
    </thead>

        <tbody >
        @foreach (var turma in Model)
        {
                <tr scope="row">
                <td>@turma.TurmaId</td>
                <td>@turma.Nome</td>
                <td>
                    <div class="d-flex gap-4">
                        <form asp-controller="Professor" asp-action="ExcluirTurma" onsubmit="return confirm('Voce tem certeza que deseja excluir essa turma?')">
                            <input type="hidden" name="turmaId" value="@turma.TurmaId" />
                                <button type="Submit" class="btn btn-outline-danger">Excluir</button>
                        </form>

                        <form asp-controller="Atividade" asp-action="Index" asp-route-turmaId="@turma.TurmaId">
                            <input type="hidden" name="turmaId" value="@turma.TurmaId" />
                                <button type="Submit" class="btn btn-outline-success">Visualizar</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (TempData["Mensagem"] != null)
{
    <p style="color:red">@TempData["Mensagem"]</p>
}
}
@* codigo do corpo do modal *@

<div class="modal" tabindex="-1" id="cadastrarTurma" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Cadastrar Turma</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"  aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Professor" asp-action="CadastrarTurma">
            <div class="modal-body">
                    <label class="form-label">Nome da turma</label>
                    <input type="text" name="nomeTurma" class="form-control" required />
            </div>
            <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
                </form>
        </div>
    </div>
</div>